# Auto detect text files and normalize line endings to LF
* text=auto

# JavaScript
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# Markup
*.html text eol=lf
*.md text eol=lf

# Styles
*.css text eol=lf
*.scss text eol=lf

# Shell
*.sh text eol=lf
*.bash text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
